.post-tweet-container{
  width: 100%;
}

.post-tweet {
  margin-block: 0.25em;
  padding-inline: 0.25em;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1em;
  border: 3px solid rgb(97, 97, 97);
}

.post-tweet:hover{
  box-shadow: 0 0 0.2em 0.15em rgb(97, 97, 97);
}

.post-tweet header {
  display: flex;
  justify-content: space-between;
}

.post-tweet  h3 {
  margin: 0;
  padding-block: 0.25em;
  font-weight: 600;
  border-bottom: 3px solid rgb(97, 97, 97);
}

.post-tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-block: 0.75em;
  font-size: 0.5em;
  font-weight: 600;
}

.post-tweet-footer div i {
  padding-inline: 0.25em;
}

.post-tweet-footer div i:hover {
  color: #AD7F00;
}